.metadata/
.recommenders/
*.class
bin/
*.project
*.prefs
*.classpath
*.rej
*.stackdump
jsp/step1/.settings/org.eclipse.wst.jsdt.ui.superType.name
jsp/step1/.settings/org.eclipse.wst.jsdt.ui.superType.container
jsp/webContent/WebContent/META-INF/MANIFEST.MF
*.policy
*.properties
*.gitignore
*.jsdtscope
*.component
*.container
*.name
*.MF
*.js
*.java
jsp/webtest5(2.5)/.settings/org.eclipse.wst.common.project.facet.core.xml
jsp/webtest3/.settings/
jsp/webtest7(2.5)/.settings/org.eclipse.wst.common.project.facet.core.xml
jsp/webtest2/.settings/org.eclipse.wst.common.project.facet.core.xml
jsp/webContent/.settings/org.eclipse.wst.common.project.facet.core.xml
jsp/Test(3.1)/.settings/org.eclipse.wst.common.project.facet.core.xml
jsp/webtest1/.settings/org.eclipse.wst.common.project.facet.core.xml
jsp/first/.settings/org.eclipse.wst.common.project.facet.core.xml
jsp/helloWeb3.1/.settings/org.eclipse.wst.common.project.facet.core.xml
jsp/webtest6(2.5)/.settings/org.eclipse.wst.common.project.facet.core.xml
