<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>webtest7(2.5)</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ConfigTestSevlet</display-name>
    <servlet-name>ConfigTestSevlet</servlet-name>
    <servlet-class>step1.ConfigTestSevlet</servlet-class>
    <init-param>
      <param-name>admin_email</param-name>
      <param-value>javaking@daum.net</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConfigTestSevlet</servlet-name>
    <url-pattern>/ConfigTestSevlet</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>web-info</param-name>
    <param-value>시용태</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>CafeServlet</display-name>
    <servlet-name>CafeServlet</servlet-name>
    <servlet-class>step2.CafeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CafeServlet</servlet-name>
    <url-pattern>/CafeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SetContextServlet</display-name>
    <servlet-name>SetContextServlet</servlet-name>
    <servlet-class>step3.SetContextServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetContextServlet</servlet-name>
    <url-pattern>/SetContextServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetContextServlet</display-name>
    <servlet-name>GetContextServlet</servlet-name>
    <servlet-class>step4.GetContextServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetContextServlet</servlet-name>
    <url-pattern>/GetContextServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>asdf</display-name>
    <servlet-name>asdf</servlet-name>
    <servlet-class>step5.asdf</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>asdf</servlet-name>
    <url-pattern>/asdf</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetProductServlet</display-name>
    <servlet-name>GetProductServlet</servlet-name>
    <servlet-class>step5.GetProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetProductServlet</servlet-name>
    <url-pattern>/GetProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EnterServlet</display-name>
    <servlet-name>EnterServlet</servlet-name>
    <servlet-class>step6.EnterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EnterServlet</servlet-name>
    <url-pattern>/EnterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListViewServlet</display-name>
    <servlet-name>ListViewServlet</servlet-name>
    <servlet-class>step6.ListViewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListViewServlet</servlet-name>
    <url-pattern>/ListViewServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SetProductServlet</display-name>
    <servlet-name>SetProductServlet</servlet-name>
    <servlet-class>step5.SetProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetProductServlet</servlet-name>
    <url-pattern>/SetProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SetProductServlet1</display-name>
    <servlet-name>SetProductServlet1</servlet-name>
    <servlet-class>step5.SetProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetProductServlet1</servlet-name>
    <url-pattern>/SetProductServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetProductServlet1</display-name>
    <servlet-name>GetProductServlet1</servlet-name>
    <servlet-class>step5.GetProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetProductServlet1</servlet-name>
    <url-pattern>/GetProductServlet1</url-pattern>
  </servlet-mapping>
</web-app>